<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system">

    <!-- Car flavor: Includes android:sharedUserId for system privileges -->
    <!-- Requires signing with AOSP platform keys: ./sign_apk.sh car -->

</manifest>
